@import url("./styles/fonts.css");

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --dark: #0f0e17;
  --light: #fffffe;
  --grey: #a7a9be;
  --orange: #ff8906;
  --red: #f25f4c;
  --pink: #e53170;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--background);
  scroll-behavior: smooth;
}
body {
  background: var(--dark);

  max-width: 1600px;
  margin: auto;
}
section {
  padding: 65px 20px;
}

/*Md*/
@media (min-width: 768px) {
  section {
    padding: 85px 60px;
  }
}
/*Lg*/
@media (min-width: 1024px) {
}
/*Xl*/
@media (min-width: 1280px) {
}
/*2xl*/
@media (min-width: 1536px) {
}
