* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --theme-purple: #25083c;
  --theme-cyan: #17c4b7;
  --lite-cyan: rgba(23, 196, 183, 0.82);
  --theme-lite-grey: #a8a4a4;
  --theme-mid-grey: #707070;
  --theme-dark-grey: #454141;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
}
html,
body {
  background: black;
  font-family: "Mr Dafoe", cursive;
  position: relative;
}
