.tablet {
  display: none;
}
.phone {
  height: 90vh;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.phone.left {
  left: -200px;
}
.phone.right {
  right: -200px;
}

/*Md*/
@media (min-width: 768px) {
  .phone.left {
    left: -100px;
  }
  .phone.right {
    right: -100px;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  .tablet {
    position: absolute;
    display: block;
    height: 700px;
  }
  .tablet.left {
    left: -800px;
  }
  .tablet.right {
    right: -800px;
  }

  .phone {
    top: auto;
    bottom: auto;
    height: 550px;
    bottom: 8%;
    z-index: 10;
  }
  .phone.left {
    left: 140px;
  }
  .phone.right {
    right: 140px;
  }
}

/*Xl*/
@media (min-width: 1280px) {
  .tablet.left {
    left: -600px;
  }
  .tablet.right {
    right: -600px;
  }

  .phone.left {
    left: 280px;
  }
  .phone.right {
    right: 280px;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  .tablet {
    height: 80vh;
  }
  .tablet.left {
    left: -600px;
  }
  .tablet.right {
    right: -600px;
  }

  .phone {
    height: 650px;
    bottom: 8%;
  }
  .phone.left {
    left: 500px;
  }
  .phone.right {
    right: 600px;
  }
}
