h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Assistant", sans-serif;
}
p {
  font-family: "Assistant", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
}
a {
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  color: inherit;
}
button {
  font-family: "Assistant", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

h1 {
  font-size: 4rem;
  filter: drop-shadow(3px 10px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(3px 10px 4px rgba(0, 0, 0, 0.25));
}
h2 {
  font-size: 3.2rem;
  filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.25));
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
  font-weight: 600;
}
h6 {
  font-size: 1.4rem;
}

/*Lg*/
@media (min-width: 1024px) {
  h1 {
    font-size: 6.1rem;
  }
  h2 {
    font-size: 4.8rem;
  }
  h3 {
    font-size: 3.3rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 1.7rem;
  }
  h6 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.5rem;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4.2rem;
  }
  h4 {
    font-size: 2.7rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.8rem;
  }
  button {
    font-size: 2rem;
  }
}
/*3xl*/
@media (min-width: 2000px) {
  p {
    font-size: 1.9rem;
  }

  /*4xl*/
  @media (min-width: 2500px) {
    h1 {
      font-size: 12rem;
    }
    h2 {
      font-size: 9.5rem;
    }
    h3 {
      font-size: 7.5rem;
    }
    h4 {
      font-size: 4rem;
    }
    h5 {
      font-size: 3rem;
    }
    h6 {
      font-size: 1.9rem;
    }
    p {
      font-size: 2.6rem;
    }
    button {
      font-size: 2.2rem;
    }
  }

  /*5xl*/
  @media (min-width: 3000px) {
    h1 {
      font-size: 14rem;
    }
    h2 {
      font-size: 11.5rem;
    }
    h3 {
      font-size: 9rem;
    }
    h4 {
      font-size: 5rem;
    }
    h5 {
      font-size: 4rem;
    }
    h6 {
      font-size: 2.2rem;
    }
    p {
      font-size: 3.1rem;
    }
    button {
      font-size: 2.8rem;
    }
  }
}
/*4k*/
@media (min-width: 3500px) {
  h1 {
    font-size: 15rem;
  }
  h2 {
    font-size: 12.5rem;
  }
  h3 {
    font-size: 10rem;
  }
  h4 {
    font-size: 5.7rem;
  }
  h5 {
    font-size: 4.4rem;
  }
  h6 {
    font-size: 2.8rem;
  }
  p {
    font-size: 3.8rem;
  }
  button {
    font-size: 3rem;
  }
}
