.work_article {
  position: relative;

  width: 90%;
  height: 75vh;
  margin: auto;
  padding: 30px 15px;

  display: grid;
  gap: 40px;

  color: white;
  z-index: 20;
}

/*Md*/
@media (min-width: 768px) {
  article {
    width: 80%;
    padding: 30px;
    gap: 50px;
    color: white;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  article {
    margin: 60px;
    width: 600px;
    padding: 40px;
    gap: 70px;
  }
}

/*Xl*/
@media (min-width: 1280px) {
  article {
    width: 700px;
  }
}
